body{
padding-top:30px;
background-color: black;
text-align:center;



}
h1{
font-size:25px;
color:red;
}
h2{
font-size:25px;
color:darkorange;
}
h3{
font-size:25px;
color:yellow;
}
h4{
font-size:25px;
color:green;
}

h5{
font-size:25px;
color:purple;
}



